*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ProgrammingAssignment1/nbproject/private/
/ProgrammingAssignment1/build/
/ProgrammingAssignment1/dist/
/ProgrammingAssignment2/nbproject/private/
/ProgrammingAssignment2/build/
/ProgrammingAssignment2/dist/
/DutchFlagProblem/nbproject/private/
/DutchFlagProblem/build/
/RedBlackTree/nbproject/private/
/RedBlackTree/build/
/RedBlackTree/dist/
/HeapDemo/nbproject/private/
/ProgrammingAssignment3/build/
/ProgrammingAssignment3/dist/